/node_modules/

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/
/test-results/
/playwright-report/
/playwright/.cache/

user.js
/test-results/
/e2e/
/playwright-report/
/playwright/.cache/
/tests-examples/
/node_modules/
package-lock.json
screenshot.png
screenshotError.png
